*{
    box-sizing: border-box;
}

header{
    margin: 3vh auto; 
    text-align: center;
}

main{
    margin: 0 auto; 
    width: 80vw;
    max-width: 600px; 

}

h4{
    padding: 0; 
    margin: 0; 
}

.sexo-form{
    padding: 0;
    margin: 0; 
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
}


#dados{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#dados h4{
    padding: 10px 0 2px 0; 
    margin:0; 
}

.atividade-form{
    padding: 10px 0; 
    display: flex; 
    flex-direction: row;
    justify-content:space-evenly ;
}

#atividade h4{
    margin: 10px 0px 0px 0px; 
}
